/* Importar fuentes */
@font-face {
    font-family: 'TipografiaTextos';
    src: url(/fonts/AtkinsonHyperlegible-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'TipografiaTitulos';
    src: url(/fonts/NortHeadline-Cond.ttf) format('truetype');
  }

body{
    background-image: url(/img/Backings-2.png);
    background-repeat: repeat;
}

.titulo-principal{
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    justify-content: space-between;

}
.titulos>h1{
    font-family: 'TipografiaTitulos';
    font-size: 10vw;
    color: #0C00C0;
}

.icono-crea{
    position: relative;
    left: 50px;
    bottom: 10px;
    width: 80px ;
    height: 80px ;

}

.icono-crea > img{
    width: 100%;
    height: 100%;

    
}


/*Div Proposito*/


.proposito-div{
    margin-top: 18%;
    margin-left: 50%;
    margin-bottom: -17%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    border-radius: 20px;
    background-color: #FFE667;
}

.proposito-texto{
    color: #0C00C0;
    margin-left:5%;
    display: absolute;

    
}

.proposito-titulo  > h2{
    font-family: 'TipografiaTextos';
    font-weight: bold;
    font-size: 5vw;
    padding: 0;
    margin-top: 5%;
}

.proposito-contenido > p{

    font-family: 'TipografiaTextos';
    text-align: justify;
    font-size: 15px;
    word-spacing: 4px;

}

.proposito-img{
    width: 320px;
    height: 20px;
    position: relative;
    top: 70px;
}
.proposito-img > img{
    width: 100%;
}

/*Divs Equipo*/

.equipo-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 5%;
    font-size: 4.1vw;
    padding: 0;
    margin-top: 20px;
    color: #0C00C0;
}

.equipo-fotos {
    margin-top: 5%;
    display: grid;
    height: 200px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    gap: 25px;   
}

.equipo-fotos > .foto > .nombre-equipo{
    margin-top: 10px;
    font-family: 'TipografiaTextos';
    font-size: 3vw;
    font-weight: bold;
    color: #0C00C0;
}

.equipo-fotos >.foto > .titulo-equipo{
    margin-top: -20px;
    font-family: 'TipografiaTextos';
    font-size: 2vw;

    color: #0C00C0;
}

.equipo-fotos >.foto{
    text-align: center;
    width: 150%;
}
.equipo-fotos >.foto > img{

    border-radius: 50%;
    width: 150px;
    height: 150px;
}

   /*Divs iniciativas*/



.iniciativas-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 5%;
    font-size: 4.1vw;
    padding: 0;
    margin-top: 20px;
    color: #0C00C0;
}

.iniciativas-fotos {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 240px;

}


.iniciativas-fotos > .foto > .nombre-equipo{
    margin-top: -10%;
    font-family: 'TipografiaTextos';
    font-size: 3vw;
    font-weight: bold;
    color: #0C00C0;
}

.iniciativas-fotos >.foto > .titulo-equipo{
    width: 150px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: -10%;
    margin-bottom: -5px;
    font-family: 'TipografiaTextos';
    font-size: 2.2vw;
    color: #ffffff;

}

.iniciativas-fotos >.foto{
    text-align: center;
    width: 180px;
    height: 230px;
}

.iniciativas-fotos >.foto > a{
    font-style: italic;
    margin-top: -10%;
    font-weight: bold;
    color: #0C00C0;
    font-size: 2vw;
}


.iniciativas-fotos >.foto > img{

    width: 150px;
    height: 150px;
}



.inspira-div{
    margin-left: 5%;
    border-radius: 20px;
    background-color: #a8de73
}

.vive-div{
    border-radius: 20px;
    margin-left: 5%;
    background-color: #ffe667
}

.impulso-div{
    border-radius: 20px;
    margin-left: 5%;
    background-color: #ff98dd
}




/*Divs impacto*/



.impacto-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 5%;
    font-size: 4.1vw;
    padding: 0;
    color: #0C00C0;
}




.impacto-fotos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    height: 240px;
}

.impacto-fotos > .div-anios{
    margin-left: 16%;
    width: 100%
}

.impacto-fotos > .div-anios-2{
    margin-left: 16%;
    width: 100%
}


.impacto-fotos > .div-anios > .nombre-equipo{
    text-align: center;
    font-family: 'TipografiaTitulos';
    font-size: 5vw;
    text-decoration: underline;
    font-style: underline;
    color: #0C00C0;
}


.impacto-fotos > .div-anios > .contenedor-anios{
    background-color: #0C00C0;
    padding: 20px;
    width: 100%;
    height: 67%;
    border-radius: 20px;
}


.impacto-fotos >.div-anios >.contenedor-anios > .titulo-equipo{
    justify-content: center;

    text-align: center;
    font-family: 'TipografiaTextos';
    font-size: 2.3vw;
    color: #ffffff;

}


.impacto-img{
    width: 100%;
}
.impacto-img> img{
    margin-top: 60%;
    width: 50%;
}
body{
    background-image: url(/img/Backings.png);
    background-repeat: repeat;
    resize: both;
    overflow: auto;
}


@media (min-width: 575px) AND  (max-width: 768px){
   

    .titulo-principal{
        display: flex;
        margin-top: 5%;
        margin-left: 5%;
        width: 80%;
        justify-content: space-between;
    
    }
    .icono-crea{
        position: relative;
        left: 50px;
        bottom: 0px;
        width: 100px;
        height: 100px;
    
    }

    .proposito-div{
        margin-top: 16%;
        margin-bottom: -10%;
        height: 190px
    }
    .equipo-fotos {
        width: 90%;
        margin-top: 5%;
        display: grid;
        height: 200px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap: 25px;   
    }

    .equipo-fotos>.foto >.nombre-equipo{
        font-size: 2.3vw;
    }

    .equipo-fotos>.foto >.titulo-equipo{
        font-size: 1.5vw;
    }


     /*Divs iniciativas*/
    .iniciativas-titulo {
        margin-top: 7%;
    }

    .iniciativas-fotos{
        height: 300px;
        gap: 5px;
        margin-bottom: 3%;
    }

    .iniciativas-fotos >.foto{
        text-align: center;
        width: 240px;
        height: 300px;
    }

    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: 0.5%;
        margin-bottom: -10px;
        font-family: 'TipografiaTextos';
    }

    .iniciativas-fotos > .foto > .titulo-equipo{
        margin-top: 10px;
        margin-bottom: 5px;
        width: 200px;
    }
    
    .impacto-fotos > .div-anios > .contenedor-anios{
        border-radius: 10px;
    }

}

@media (min-width: 768px) AND  (max-width: 992px){
    .titulo-principal{
        display: flex;
        margin-top: 5%;
        margin-left: 5%;
        width: 80%;
        justify-content: space-between;
    }

    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 8vw;
        color: #0C00C0;
    }
    .icono-crea{
        position: relative;
        left: 50px;
        bottom: 0px;
        width: 100px ;
        height: 100px ;
    }

    .proposito-div{
        margin-top: 12%;
        margin-bottom: -8%;
        height: 210px
    }

    .proposito-titulo > h2{
        font-size: 3vw;
    }
    .proposito-contenido > p{
        font-size: 20px;
    }

    .proposito-img{
        width: 1000px;
        height: 20px;
        position: relative;
        top: 10px;
        left: 70px;
    }

    .proposito-img > img{
        width: 70%;
    }

    /*Div Equipos*/

    .equipo-titulo > h2 {
        font-size: 3.8vw;
    }
    .equipo-fotos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap:5px;
        height: 300px;

    }

    .equipo-fotos >.foto{
        width: 100%;
    }

    .equipo-fotos >.foto > img{
        width: 200px;
        height: 200px;
    }

    .equipo-fotos > .foto > .nombre-equipo{
        font-size: 2.3vw;
    }
    .equipo-fotos >.foto > .titulo-equipo{
        font-size: 1.7vw;
    }

        /*Div Iniciativas*/

    .iniciativas-titulo > h2 {
        font-size: 3.8vw;
    }

    .iniciativas-fotos {
        width: 90%;
        gap: 10px;
        margin-left: 50%;;
        transform: translate(-50%);
        justify-content: space-evenly;
        height: 380px;
    }

    .iniciativas-fotos >.foto{
        width: 280px;
        height: 350px;
    }

    .iniciativas-fotos >.foto > img{

        width: 200px;
        height: 200px;
    }

    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        font-family: 'TipografiaTextos';
    }
    .iniciativas-fotos> .foto > .titulo-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        width: 200px;
    }
    

    .inspira-div{
        margin-left: 0%;
    }
    
    .vive-div{
        margin-left: 0%;
    }
    
    .impulso-div{
        margin-left: 0%;
    }

    .impacto-titulo > h2 {
        font-size: 3.8vw;
    }
    
    .impacto-img> img{
        margin-top: 40%;
        width: 50%;
    }
    .impacto-fotos > .div-anios > .contenedor-anios{
        border-radius: 10px;
    }

}

@media (min-width: 992px) AND  (max-width: 1200px){
    .titulo-principal{
        width: 80%;
        justify-content: space-between;
    }

    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 7vw;
        color: #0C00C0;
    }
    .icono-crea{
        position: relative;
        left: 120px;
        bottom: 10px;
        width: 120px ;
        height: 120px ;
    }

    .proposito-div{
        margin-top: 13%;
        margin-bottom: -10%;
        height: 265px
    }

    .proposito-titulo > h2{
        font-size: 3.5vw;
    }

    .proposito-contenido > p{
        text-align: justify;
        font-size: 2vw;
        word-spacing: 9px;
    
    }
    .proposito-img{
        width: 1200px;
        height: 20px;
        position: relative;
        top: 60px;
        left: 70px;
    }

    .proposito-img > img{
        width: 60%;
    }

    /*Div Equipos*/
    .equipo-titulo > h2 {
        font-size: 3.5vw;
    }
    .equipo-fotos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap:5px;
        height: 350px;

    }
    .equipo-fotos >.foto{
        width: 100%;
    }
    .equipo-fotos >.foto > img{
        width: 250px;
        height: 250px;
    }
    .equipo-fotos > .foto > .nombre-equipo{
        font-size: 2.3vw;
    }
    .equipo-fotos >.foto > .titulo-equipo{
        font-size: 1.7vw;
    }

        /*Div Iniciativas*/
    .iniciativas-titulo > h2 {
        font-size: 3.5vw;
    }
    .iniciativas-fotos {
        width: 90%;
        gap: 30px;
        margin-left: 50%;
        transform: translate(-50%);
        justify-content: space-evenly;
        height: 420px;
        
    }       
    
    .iniciativas-fotos >.foto{
        
        width: 340px;
        height: 390px;
    }
    .iniciativas-fotos >.foto > img{

        width: 200px;
        height: 200px;
    }   

    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        font-size: 3vw;
    }
    .iniciativas-fotos> .foto > .titulo-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        width: 200px;
        font-size: 1.8vw;
    }
    
    .inspira-div{
        margin-left: 0%;
    }
    
    .vive-div{
        margin-left: 0%;
    }
    
    .impulso-div{
        margin-left: 0%;
    }

    .impacto-img> img{
        margin-top: 40%;
        width: 50%;
    }

    .impacto-fotos > .div-anios > .contenedor-anios{
        border-radius: 10px;
    }

}

@media (min-width: 1200px) AND  (max-width: 1400px){
    .titulo-principal{
        margin-top: 20px;
        width: 80%;
        justify-content: space-between;
    }

    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 8vw;
        color: #0C00C0;
    }
    .icono-crea{
        position: relative;
        left: 120px;
        bottom: 20px;
        width: 170px ;
        height: 170px ;
    }

    .proposito-div{
        margin-top: 10%;
        margin-bottom: -10%;
        height: 310px
    }

    .proposito-titulo > h2{
        font-size: 3.5vw;
    }
    .proposito-contenido > p{
        text-align: justify;
        font-size: 2vw;
        word-spacing: 9px;
    
    }
    .proposito-img{
        width: 1200px;
        height: 20px;
        position: relative;
        top: 50px;
        left: 70px;
    }
    .proposito-img > img{
        width: 70%;
    }
    
    /*Div Equipos*/
    .equipo-titulo > h2 {
        font-size: 3.5vw;
    }
    .equipo-fotos {
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap: 0px;
        height: 350px;

    }
    .equipo-fotos >.foto{
        width: 100%;
    }
    .equipo-fotos >.foto > img{
        width: 250px;
        height: 250px;
    }
    .equipo-fotos > .foto > .nombre-equipo{
        font-size: 2.3vw;
    }
    .equipo-fotos >.foto > .titulo-equipo{
        font-size: 1.7vw;
    }

        /*Div Iniciativas*/
    .iniciativas-titulo > h2 {
        font-size: 3.5vw;
    }
    .iniciativas-fotos {
        width: 90%;
        gap: 30px;
        margin-left: 50%;
        transform: translate(-50%);
        justify-content: space-evenly;
        height: 550px;

        
    }

    .iniciativas-fotos >.foto{
        width: 400px;
        height: 520px;
    }
    .iniciativas-fotos >.foto > img{

        width: 300px;
        height: 300px;
    }

    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        font-size: 3vw;
    }
    .iniciativas-fotos> .foto > .titulo-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        width: 250px;
        font-size: 1.8vw;
    }
    .inspira-div{
        margin-left: 0%;
    }
    
    .vive-div{
        margin-left: 0%;
    }
    
    .impulso-div{
        margin-left: 0%;
    }

    .impacto-titulo > h2 {
        font-size: 3.5vw;
    }   

    .impacto-img> img{
        margin-top: 40%;
        width: 50%;
    }

    .impacto-fotos {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 50px;
        width: 90%;
        height: 450px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .impacto-fotos > .div-anios{
        margin-left: 16%;
        width: 410px;
    }
    .impacto-fotos > .div-anios-2{
        width: 200px;
    }

    .impacto-img> img{
        margin-top: 180px;
        margin-left: 65px;
        width: 150px;
        height: 150px;
    }

}

@media (min-width: 1400px) AND  (max-width: 1600px){
    .titulo-principal{
        margin-top: 40px;
        width: 80%;
        justify-content: space-between;
    }

    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 7vw;
        color: #0C00C0;
    }
    .icono-crea{
        position: relative;
        left: 120px;
        bottom: 20px;
        width: 170px ;
        height: 170px ;
    }

    .proposito-div{
        margin-top: 10%;
        margin-bottom: -10%;
        height: 350px
    }

    .proposito-titulo > h2{
        font-size: 3.5vw;
    }
    .proposito-contenido > p{
        text-align: justify;
        font-size: 2vw;
    }

    .proposito-img{
        width: 1200px;
        height: 20px;
        position: relative;
        top: 80px;
        left: 70px;
    }
    .proposito-img > img{
        width: 70%;
    }
    
    /*Div Equipos*/
    .equipo-titulo > h2 {
        font-size: 3.5vw;
    }
    .equipo-fotos {
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap: 0px;
        height: 470px;

    }
    .equipo-fotos >.foto{
        width: 100%;
    }
    .equipo-fotos >.foto > img{
        width: 350px;
        height: 350px;
    }
    .equipo-fotos > .foto > .nombre-equipo{
        font-size: 2.3vw;
    }
    .equipo-fotos >.foto > .titulo-equipo{
        font-size: 1.7vw;
    }

        /*Div Iniciativas*/
    .iniciativas-titulo > h2 {
        font-size: 3.5vw;
    }

    .iniciativas-fotos {
        width: 90%;
        gap: 30px;
        margin-left: 50%;
        transform: translate(-50%);
        justify-content: space-evenly;
        height: 600px;
        
    }
    .iniciativas-fotos >.foto{
        width: 435px;
        height: 540px;
    }
    .iniciativas-fotos >.foto > img{

        width: 300px;
        height: 300px;
    }
    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        font-size: 3vw;
    }
    .iniciativas-fotos> .foto > .titulo-equipo{
        margin-top: -15px;
        margin-bottom: 10px;
        width: 270px;
        font-size: 1.8vw;
    }
    .inspira-div{
        margin-left: 0%;
    }
    
    .vive-div{
        margin-left: 0%;
    }
    
    .impulso-div{
        margin-left: 0%;
    }

    /*Div Impacto*/
    .impacto-titulo > h2 {
        font-size: 3.5vw;
    }

    .impacto-img> img{
        margin-top: 40%;
        width: 50%;
    }

    .impacto-fotos {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 50px;
        width: 90%;
        height: 450px;
        margin-left: 50%;
        transform: translate(-50%);
    }   

    .impacto-fotos > .div-anios{
        margin-left: 16%;
        width: 500px;
    }
    .impacto-fotos > .div-anios-2{
        width: 200px;
    }

    .impacto-img> img{
        margin-top: 200px;
        margin-left: 75px;
        width: 150px;
        height: 150px;
    }

    .impacto-fotos > .div-anios > .contenedor-anios{
        border-radius: 10px;
    }
}

@media (min-width: 1600px)  and (max-width: 1800px){
    .titulo-principal{
        margin-top: 40px;
        width: 80%;
        justify-content: space-between;
    }

    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 7vw;
        color: #0C00C0;
    }
    .icono-crea{
        position: relative;
        left: 120px;
        bottom: 20px;
        width: 170px ;
        height: 170px ;
    }

    .proposito-div{
        margin-top: 10%;
        margin-bottom: -10%;
        height: 350px
    }

    .proposito-titulo > h2{
        font-size: 3.5vw;
    }
    .proposito-contenido > p{
        text-align: justify;
        font-size: 2vw;
    }

    .proposito-img{
        width: 1200px;
        height: 20px;
        position: relative;
        top: 80px;
        left: 70px;
    }
    .proposito-img > img{
        width: 70%;
    }
    
    /*Div Equipos*/
    .equipo-titulo > h2 {
        font-size: 3.5vw;
    }
    .equipo-fotos {
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        gap: 0px;
        height: 470px;

    }
    .equipo-fotos >.foto{
        width: 100%;
    }
    .equipo-fotos >.foto > img{
        width: 350px;
        height: 350px;
    }
    .equipo-fotos > .foto > .nombre-equipo{
        font-size: 2.3vw;
    }
    .equipo-fotos >.foto > .titulo-equipo{
        font-size: 1.7vw;
    }

         /*Div Iniciativas*/
         .iniciativas-titulo > h2 {
            font-size: 3.5vw;
         }

         .iniciativas-fotos {
            width: 90%;
         }


}

@media (min-width: 1800px)  and (max-width: 2000px){
    body{
        background-image: url(/img/Backings.png);
        background-repeat: repeat;
        resize: both;
        overflow: auto;
    }
    
    .titulos>h1{
        font-family: 'TipografiaTitulos';
        font-size: 150px;
        color: #0C00C0;
    }

    .titulo-principal{
        display: flex;
        margin-top: 1%;
        margin-left: 150px;
        width: 80%;
        justify-content: space-between;
    
    }
    
    .icono-crea{
        position: relative;
        width: 200px;
        height: 200px;   
    }
        
    
    /*Div Proposito*/
    
    
    .proposito-div{
        margin-top: 200px;
        margin-left: 50%;
        margin-bottom: -120px;
        transform: translate(-50%, -50%);
        width: 70%;
        display: flex;
        border-radius: 50px;
        background-color: #FFE667;
    }
    
    .proposito-texto{
        color: #0C00C0;
        margin-left: 80px;
    
        
    }
    
    .proposito-titulo  > h2{
        font-family: 'TipografiaTextos';
        font-weight: bold;
        font-size: 60px;
        padding: 0;
        margin-top: 50px;
    }
    
    .proposito-contenido > p{
    
        font-family: 'TipografiaTextos';
        text-align: justify;
        font-size: 36px;
        word-spacing: 9px;
    
    }
    
    .proposito-img{
        width: 2000px;
        height: 20px;
        position: relative;
        top: 100px;
        left: 70px;
    }
    .proposito-img > img{
        width: 300px;
        height: 300px;
    
    }
    
    
    
    /*Divs del Equipo*/
    
    
    
    
    .equipo-titulo > h2 {
        font-family: 'TipografiaTextos';
        font-weight: bold;
        margin-left: 150px;
        font-size: 60px;
        padding: 0;
        margin-top: 20px;
        color: #0C00C0;
    }
    
    .equipo-fotos {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 100px;
        width: 90%;
        height: 450px;
        margin-left: 50%;
        transform: translate(-50%);
    
    }
    
    .equipo-fotos > .foto > .nombre-equipo{
        margin-top: 10px;
        font-family: 'TipografiaTextos';
        font-size: 40px;
        font-weight: bold;
        color: #0C00C0;
    }
    
    .equipo-fotos >.foto > .titulo-equipo{
        margin-top: -20px;
        font-family: 'TipografiaTextos';
        font-size: 25px;
    
        color: #0C00C0;
    }
    
    .equipo-fotos >.foto{
        text-align: center;
        width: 450px;
    
    }
    .equipo-fotos >.foto > img{
    
        border-radius: 50%;
        width: 350px;
        height: 350px;
    }
    
    .danna-div{
        margin-left: 90px;
    }
    
    /*Divs iniciativas*/
    
    
    
    .iniciativas-titulo > h2 {
        font-family: 'TipografiaTextos';
        font-weight: bold;
        margin-left: 150px;
        font-size: 60px;
        padding: 0;
        margin-top: 70px;
        color: #0C00C0;
    }
    
    .iniciativas-fotos {
        margin-top: 70px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 100px;
        width: 90%;
        height: 590px;
        margin-left: 50%;
        transform: translate(-50%);
    
    }
    
    
    .iniciativas-fotos > .foto > .nombre-equipo{
        margin-top: -0px;
        font-family: 'TipografiaTextos';
        font-size: 50px;
        font-weight: bold;
        color: #0C00C0;
    }
    
    .iniciativas-fotos >.foto > .titulo-equipo{
        width: 350px;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: -10px;
        margin-bottom: 10px;
        font-family: 'TipografiaTextos';
        font-size: 35px;
        line-height: 40px;
        color: #ffffff;
    
    }
    
    .iniciativas-fotos >.foto{
        text-align: center;
        width: 450px;
        height: 590px;
    }
    
    .iniciativas-fotos >.foto > a{
        font-style: italic;
        font-weight: bold;
        color: #0C00C0;
        font-size: 30px;
    }
    
    
    .iniciativas-fotos >.foto > img{
    
        width: 350px;
        height: 350px;
    }
    
    
    
    .inspira-div{
        margin-left: 70px;
        border-radius: 20px;
        background-color: #a8de73
    }
    
    .vive-div{
        border-radius: 20px;
        background-color: #ffe667
    }
    
    .impulso-div{
        border-radius: 20px;
        background-color: #ff98dd
    }
    
    
    
    
    /*Divs impacto*/
    
    
    
    .impacto-titulo > h2 {
        font-family: 'TipografiaTextos';
        font-weight: bold;
        margin-left: 150px;
        font-size: 60px;
        padding: 0;
        margin-top: 70px;
        color: #0C00C0;
    }
    
    
    
    
    .impacto-fotos {
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
        height: 590px;
        margin-left: 50%;
        transform: translate(-50%);
    
    }

    .impacto-fotos > .div-anios{
        margin-left: 0%;
        width: 500px;
    }
    
    .impacto-fotos > .div-anios > .nombre-equipo{
        text-align: center;
        font-family: 'TipografiaTitulos';
        font-size: 70px;
        text-decoration: underline;
        font-style: underline;
        color: #0C00C0;
    }
    
    
    .impacto-fotos > .div-anios > .contenedor-anios{
        background-color: #0C00C0;
        width: 450px;
        margin-left: 50%;
        transform: translate(-50%);
        height: 350px;
        border-radius: 20px;
    }
    
    
    .impacto-fotos >.div-anios >.contenedor-anios > .titulo-equipo{
        justify-content: center;
        margin-top: 37px;
        text-align: center;
        font-family: 'TipografiaTextos';
        font-size: 35px;
        line-height: 40px;
        color: #ffffff;
    
    }

    .impacto-fotos > .div-anios-2{
        width:0px;
        height: 0px;
        margin-left: 35%;
        transform: translate(-50%);
        margin-top: 50px;
    }
    
    .impacto-img> img{
        margin-top: 150px;
        width: 150px;
        height: 150px;
    }
    
  

}







