/* Importar fuentes */
@font-face {
    font-family: 'TipografiaTextos';
    src: url(/fonts/AtkinsonHyperlegible-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'TipografiaTitulos';
    src: url(/fonts/NortHeadline-Cond.ttf) format('truetype');
  }

  body{
    background-image: url(/img/Backings.png);
    background-repeat: repeat;
    resize: both;
    overflow: auto;
}

.titulo-principal{
    display: flex;
    margin-top: 1%;
    margin: auto;
    width: 80%;
    justify-content: space-between;

}
.titulos>h1{
    font-family: 'TipografiaTitulos';
    font-size: 150px;
    color: #0C00C0;
}

.icono-crea{
    width: 200px;
    height: 200px;
    position: relative;
}

.icono-crea > img{
    width: 200px;
    height: 200px;

}
    

/*Div Proposito*/


.proposito-div{
    margin: auto;
    width: 70%;
    display: flex;
    border-radius: 50px;
    background-color: #FFE667;
}

.proposito-texto{
    color: #0C00C0;
    margin-left: 80px;

    
}

.proposito-titulo  > h2{
    font-family: 'TipografiaTextos';
    font-weight: bold;
    font-size: 60px;
    padding: 0;
    margin-top: 50px;
}

.proposito-contenido > p{

    font-family: 'TipografiaTextos';
    text-align: justify;
    font-size: 36px;
    word-spacing: 9px;

}

.proposito-img{
    width: 300px;
    height: 300px;
    margin-right: 130px;
    position: relative;
    top: 60px;
    left: 70px;
}
.proposito-img > img{
    width: 300px;
    height: 300px;

}



/*Divs del Equipo*/




.equipo-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 150px;
    font-size: 60px;
    padding: 0;
    margin-top: 20px;
    color: #0C00C0;
}

.equipo-fotos >  .row{
    gap: 50px;
}


.foto > .nombre-equipo{
    margin-top: 10px;
    font-family: 'TipografiaTextos';
    font-size: 40px;

    font-weight: bold;
    color: #0C00C0;
}

.foto > .titulo-equipo{
    margin-top: -20px;
    font-family: 'TipografiaTextos';

    font-size: 25px;

    color: #0C00C0;
}

.foto{
    text-align: center;
    width: 450px;

}
.foto > img{

    border-radius: 50%;
    width: 350px;
    height: 350px;
}



/*Divs iniciativas*/



.iniciativas-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 150px;
    font-size: 60px;
    padding: 0;
    margin-top: 70px;
    color: #0C00C0;
}

.iniciativas-fotos >  .row{
    gap: 50px;
}


.iniciativas-fotos >  .row> .foto > .nombre-equipo{
    margin-top: -0px;
    font-family: 'TipografiaTextos';
    font-size: 50px;
    font-weight: bold;
    color: #0C00C0;
}

.iniciativas-fotos >  .row>.foto > .titulo-equipo{
    margin: auto;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: 'TipografiaTextos';
    font-size: 35px;
    line-height: 40px;
    color: #ffffff;

}

.iniciativas-fotos >  .row>.foto{
    text-align: center;
    width: 450px;
    height: 590px;
}
.iniciativas-fotos >  .row>.foto > a{
    font-style: italic;
    font-weight: bold;
    color: #0C00C0;
    font-size: 30px;
}


.iniciativas-fotos >  .row>.foto > img{

    width: 350px;
    height: 350px;
}



.inspira-div{

    border-radius: 20px;
    background-color: #a8de73
}

.vive-div{
    border-radius: 20px;
    background-color: #ffe667
}

.impulso-div{
    border-radius: 20px;
    background-color: #ff98dd
}




/*Divs impacto*/



.impacto-titulo > h2 {
    font-family: 'TipografiaTextos';
    font-weight: bold;
    margin-left: 150px;
    font-size: 60px;
    padding: 0;
    margin-top: 70px;
    color: #0C00C0;
}




.impacto-fotos {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    display: grid;

    width: 80%;
    height: 590px;
    margin: auto;

}

.impacto-fotos >.row> .div-anios{

    width: 500px;
}

.impacto-fotos >.row>  .div-anios > .nombre-equipo{
    text-align: center;
    font-family: 'TipografiaTitulos';
    font-size: 70px;
    text-decoration: underline;
    font-style: underline;
    color: #0C00C0;
}

.impacto-fotos >.row>  .div-anios > .contenedor-anios{
    background-color: #0C00C0;
    width: 450px;
    margin: auto;
    height: 350px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.impacto-fotos >.row> .div-anios >.contenedor-anios > .titulo-equipo{
    justify-content: space-around;
    margin-top: 37px;
    text-align: center;
    font-family: 'TipografiaTextos';
    font-size: 35px;
    line-height: 40px;
    color: #ffffff;

}
.impacto-fotos >.row>  .div-anios-2{


    margin: auto;
}

.impacto-fotos >.row> .impacto-img{
    width: 150px;
    height: 150px;
}

.impacto-fotos >.row> .impacto-img> img{
    width: 150px;
    height: 150px;
}







